*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 239, 213, 0.738);
}
#navbar{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2.4% 2.2%;
    gap: 3.8vmin;
    /* background-color: rebeccapurple; */
}
#navbar .nav-info{
    font-weight: 550;
    color: rgba(0, 0, 0, 0.701);
    font-size: 1.8vmin;
}
#navbar h4:last-child{
    background-color: black;
    color: white;
    padding: .8vmax;
    font-size: 1.4vmax;
    font-weight: 500;
    border-radius: 50%;
}
#center{
    width: 100vw;
    /* background-color: red; */
    padding: 0% 5%;
}
#center h1{
    font-size: 3.6em;
    font-weight: 100;
    line-height: 1.1em;
}
#lower-center{
    width: 100vw;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    padding: 2.4% 5%;
}
#lower-center #left p{
    font-size: 1em;
    color: rgba(0, 0, 0, 0.601);
    font-weight: 600;
    line-height: 1.60em;
}

#lower-center #right{
    width: 22%;
    /* background-color: yellow; */
    padding-top: 1.2%;
} 

#lower-center .ele{
    margin-bottom: 1.1%;
    /* background-color: red; */
    padding: 2.7% 1%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ele a{
    color: rgba(0, 0, 0, 0.601);
    font-size: 1.2em;
    font-weight: 600;
}
.ele i{
    opacity: 0;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.601);
}
.ele:hover i{
    opacity: 1;
}
.ele:hover a{
    text-decoration: underline;
}
#image{
    width: 100vw;
    height: 35.6vh;
    background-color: pink;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: 10% 50%;
}